* {
    margin: 0;
    padding: 0;
}

.clearfix{
    clear:both;
}
.white{
    background-color:#fff;
 }
 .maincolor{
     color:#21CA2E
 }
.l-right{
    float:right !important;
}
.l-left{
    float:left !important;
}
.p-l-20{
    padding-left: 20px;
}
.p-l-10{
    padding-left: 10px;
}
.p-t-20{
    padding-top: 20px;
}
.p-r-20{
    padding-right: 20px;
}
.p-b-20{
    padding-bottom: 20px;
}
.m-t-20{
    margin-top: 20px;
}
.m-t-50{
    margin-top: 50px;
}
.m-l-20{
    margin-left: 20px;
}
.m-b-20{
    margin-bottom: 20px;
}
.f700{
    font-weight: 700;
}
.line-28{
    line-height: 28px;
}
.line-55{
    line-height: 55;
}
/* chebox 选择框
 */
 .el-checkbox__input .el-checkbox__inner:hover {
    border-color: #21CA2E;
}
.el-checkbox .el-checkbox__input.is-checked .el-checkbox__inner{
  background-color: #21CA2E;
  border-color: #21CA2E;
}
.el-button--success {
    color: #FFF;
    background-color: #21CA2E !important;
    border-color: #21CA2E !important;
}
.el-button--success:focus, .el-button--success:hover {
    background: #1dad29 !important;
    border-color: #1dad29 !important;
    color: #FFF;
}
 .el-carousel__item li.el-carousel__indicator,.el-carousel__indicator--horizontal{
     width: 12px;
    height: 12px;
    border-radius: 50%;
    line-height: 15px;
    padding: 0;
    background: #21CA2E;
  }
  .all-content .el-menu{
    border-right: none !important;
  }
/* 改变主题色变量 */
$--color-primary: #21CA2E;
 
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
 
@import "~element-ui/packages/theme-chalk/src/index";
