* {
    margin: 0;
    padding: 0;
}

.clearfix{
    clear:both;
}
.white{
    background-color:#fff;
 }
 .maincolor{
     color:#21CA2E
 }
.l-right{
    float:right !important;
}
/* chebox 选择框
 */
 .el-checkbox__input .el-checkbox__inner:hover {
    border-color: #21CA2E;
}
.el-checkbox .el-checkbox__input.is-checked .el-checkbox__inner{
  background-color: #21CA2E;
  border-color: #21CA2E;
}
